<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Quando si sviluppa il progetto della libreria di servizi, è necessario aggiungere il contenuto del file di configurazione al file 
  app.config dell'host. System.Configuration non supporta i file di configurazione delle librerie. -->
  <system.serviceModel>
    

    <services>
      <service name="LibreriaGraph.Graph"
      behaviorConfiguration="LibreriaGraph.GraphBehavior">
        <host>
          <baseAddresses>
            <add baseAddress=""/>
          </baseAddresses>
        </host>
        <endpoint
        contract="LibreriaGraph.IGraph"
        binding="netTcpBinding"
        address=""/>
        <endpoint contract="LibreriaGraph.IGraph"
        binding="mexTcpBinding"
        address="tcpmex"/>
      </service>
    </services >
    <!-- Behaviors -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="LibreriaGraph.GraphBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
