.CSS_Table_Example {
	margin:0px;padding:0px;
	width:100%;	
}.CSS_Table_Example table{
	width:550px;
	height:100%;
	margin:0px;padding:0px;
}.CSS_Table_Example tr:hover td{
	background-color:#82c0ff;
}.CSS_Table_Example tr:first-child td{	
	background-color:#56aaff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background-color:#0069d3;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
	
}.CSS_Table_Example td{
	background-color:#a8d3ff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
	text-align: center;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
	text-align: center;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
	
}.CSS_Table_Example td input {
	border-width:0px 0px 0px 0px;
        text-align: center;
}



