<?xml version="1.0"?>
<!--
    Nota: come alternativa alla modifica manuale del file, è possibile utilizzare lo 
    strumento di amministrazione Web per configurare le impostazioni dell'applicazione. Utilizzare
    il comando Configurazione ASP.NET del menu Sito Web di Visual Studio.
    Un elenco completo di impostazioni e commenti è disponibile nel 
    file machine.config.comments che si trova in genere in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="xPagina" value="515"/>
		<add key="yPagina" value="52"/>
	
    <add key="ConnectionStringTABCENTR" value="Data Source=;Initial Catalog=;User Id=;Password="/>
    <add key="ConnectionStringDOCUMENTALE" value="Data Source=;Initial Catalog=;User Id=;Password="/>
    <add key="ConnectionStringDOCUMENTALE_LOG" value="Data Source=;Initial Catalog=;User Id=;Password="/>
    <add key="SicWS" value=""/>
    
    
    <add key="NOME_ENTE_INSTALLAZIONE" value="REGIONE"/>
    <add key="template" value=""/>
    <add key="CancellaAllegatiModifica" value="1"/>
    <add key="InserisciAllegatiModifica" value="1"/>

    
  
  
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!--
            Impostare compilation debug="true" per inserire i simboli di 
            debug nella pagina compilata. Poich tale 
            operazione ha effetto sulle prestazioni, impostare questo valore su true solo 
            durante lo sviluppo.

            Opzioni di Visual Basic:
            Impostare strict="true" per disattivare tutte le conversioni dei tipi di dati 
            in cui si possa verificare una perdita di dati. 
            Impostare explicit="true" per forzare la dichiarazione di tutte le variabili.
        -->
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della protezione utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
		<authentication mode="Windows"/>
		<!--
            La sezione <customErrors> consente di configurare  
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
    <httpRuntime executionTimeout="12000" maxRequestLength="1536000"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
 <!--
        La sezione system.webServer è necessaria per elaborare ASP.NET AJAX in Internet
        Information Services 7.0. Tale operazione non è necessaria per versioni precedenti di IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
    
		<services>
   <service behaviorConfiguration="ProvvedimentiServices.ProvvedimentiServiceBehavior"
    name="ProvvedimentiServices.ProvvedimentiService">
    <!--<endpoint address="" binding="wsHttpBinding" contract="ProvvedimentiPortType"  bindingConfiguration="">
     --><!--<identity>
      <dns value="localhost" />
     </identity>--><!--
    </endpoint>-->
     <endpoint address="" binding="basicHttpBinding"
                bindingConfiguration="ProvvedimentiBinding" contract="ProvvedimentiPortType"
                name="ProvvedimentiPort" />
    
     <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
   </service>
  </services>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="ProvvedimentiBinding" closeTimeout="10:01:00"
            openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1165536" maxBufferPoolSize="11524288" maxReceivedMessageSize="1165536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="1132" maxStringContentLength="118192" maxArrayLength="1116384"
              maxBytesPerRead="114096" maxNameTableCharCount="1116384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>-->
        <binding name="ProvvedimentiBinding" closeTimeout="10:01:00"
            openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      maxReceivedMessageSize="655360000" maxBufferPoolSize="400000000"     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true" >
          <readerQuotas maxDepth="1132" maxArrayLength="400000000" maxStringContentLength="400000000" maxBytesPerRead="400000000"  maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
		<behaviors>
   <serviceBehaviors>
    <behavior name="ProvvedimentiServices.ProvvedimentiServiceBehavior" >
     <serviceMetadata httpGetEnabled="true"  externalMetadataLocation="../wsdl/Provvedimenti.wsdl" />

     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
     
   </serviceBehaviors>
  </behaviors>
	</system.serviceModel>

	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value=".\\Logs\\log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<staticLogFileName value="true"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date; [%thread]; %-5level; %logger; [%ndc]; %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>
